
mat-form-field,
textarea{
    width: 100%;

}

mat-card{
    margin-top: 2.5rem;
}

mat-spinner{
    margin: auto;

}

input[type="file"]{
    visibility: hidden;
}

.image-view{
    height: 5rem;
    margin: 1rem 0;
}

.image-view img{
    height: 100%;
}