
<p style="text-align:center;" *ngIf="posts.length != 0">Posts:</p>

<mat-spinner *ngIf="isLoading" color="accent" ></mat-spinner>
<div *ngIf="posts.length > 0 && !isLoading" class="container">
    <mat-card  *ngFor="let post of posts">
        <mat-card-header>
                <mat-card-title>{{ post['title'] }}</mat-card-title>
        </mat-card-header>


        <img mat-card-image [src]="post.imagePath" [alt]="post.title">
        <mat-card-content>
            <p> {{ post['content'] }} </p>

        </mat-card-content>      
        <mat-card-actions *ngIf="isAuth">
            <mat-divider inset></mat-divider>
            <a mat-button color="primary" [routerLink]="['/edit', post['_id']]">Edit</a>
            <button mat-button color="warn" (click)="onDelete(post['_id'])" >Delete</button>
        </mat-card-actions>
    </mat-card>
</div>


<mat-paginator *ngIf="posts.length > 0 && !isLoading" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">

</mat-paginator>

<p style="text-align: center;"*ngIf="posts.length <= 0 && !isLoading">No posts.</p>
